<!--
state mangement in angular
البروجكيت بتاع الانجولار بيبقى مكون من مجموعة من الكمبونت
وكل كمبونت بيبقى لية داتا معينة بيتعامل معها او داتا خاصة بالكمبونت دى هو بيستخدمها الداتا
state دى بتسمى ال

لاكتر من كمبونت share ساعات بيبقى فى داتا محتاج يعملها
يعنى اكتر من كمبونت بيستخدم نفس الداتا
state mangement فدى فكرة ال
 على الداتا دى access ان بجيب الداتا دى وبجمعها فى مكان واحد ويبقى اكتر من  كمبونت لية
__________________________

؟؟ state mangement دورة حياة ال

             watch
component ==========> state

اللى مجموعة الكمبونت بترقبها state دى ال
فالكمبونت بيراقب الستات دى فلما الستات بتتغير الكمبونت هى كمان بتتغير لوحدها

المفروض ان الكمبونت هيتعامل مع الستات دى يعنى هيحتاج يغير فيها
reducer فال reducer بس الكمبونت مش بيغير فى الستات دى مباشرة اللى بيغير فى الستات دى ال
state هو المسؤل انة يعمل ابدات لل

            watch
component =========> state
                        ^
                        |
                        | update
                        |
                     reducer

reducer هو الوسيط بين الكمبونت وال  action ال
دى بتقولى نوع الاكشن بتاعى type ال type عبارة عن اوبجكيت جواة بروبيرتى اسمها action وال
    الاكشن بيبقى لية اسم وداتا بيمررها لما الاكشن دة يحصل
 ودى payload دا اسم الاكشن والبروبيرتى التانية اسمها  type فهيجمع الاتنين دول فى اوبشنت فية بروبيرتى اسمها
داتااللى بمررها لما الاكشن يحصل

___________________________________
             watch
component ===============> state
    |                        ^
    |                        |
    |dispatch                | update
    |                        |
    |        listen          |
   action <=============  reducer

فالكمبونت بتشغل اكشن معينة اكشن زى ايفنت يعنى زى مثلا لما اضغط على زرار كدة اكشن
  بيراقب الاكشن  لما يحصل اكشن يبدء يعدل فى الستات دى reducer وال
  بيبقى عبارة عن فنكشن بتاخد حاجتين الستات والاكشن reducer فال
________________________________
Redux هى ال state mangement اشهر مكتبة بتخلينى اعمل ال
Redux دا موديل  مسئول انة يربط ايلكشن الانجولار بمكتبة ال NgRx ال
 للموديل دة install بعمل

 npm install --save @ngrx/store

 @ngrx ==> مجموعة حاجات بقدر استخدمها modules جواة مجموعة من ال
 store ==> دة اللى بخزن فية الستات بتاعتى

 ___________________
 Redux DevTools
 بتعرفنى الستات بتاعتى وبتعرضهالى والاكشن اللى حصلت عليها development اداة بتساعدنى وانا بعمل
عشان اسطبها
npm install @ngrx/store-devtools --save

-->

<!-- <p>{{ count }}</p> -->
<!-- <button (click)="increase()">increase</button>
<button (click)="decrease()">decrease</button> -->
