<p>operators works!</p>
<input placeholder="Start your search" />
<ul id="suggestions"></ul>

<h1>defer</h1>
<button #button>click me</button>
<br />
{{ obs1$ | async }} :{{ obs2$ | async }}

<h5>Expand</h5>
<button (click)="fetchDataButton.next()">get data</button>
<h1>pairwise - startWith</h1>
<input type="text" #nameInput />
<button (click)="nameSubject.next(nameInput.value)">submit</button>
<h1>
    distinct <br/>
    distinctUntilChanged <br/>
    distinctUntilKeyChanged
</h1>
<input type="text" (keyup)="nameSubject1.next({ id: 1, name: $event.target.value })"/>
<h1>merge</h1>
<ul>
    <li *ngFor="let post of posts">
        <img [src]="post" alt="">
    </li>
</ul>


